{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="header">
        <p class="highlight">New Batches For</p>
        <h1 class="subjects">CBSE, ICSE - 9<sup>th</sup> to 12<sup>th</sup> All Subjects</h1>
        <h2 class="main-title">G.I. Classes</h2>
        <p class="highlight">UP BOARD ALL SUBJECTS (Crash Course)</p>
        <p class="demo">VI to XII (5 days demo free) | Starting 3 PM to 7 PM</p>
    </div>
    <div class="info">
        <ul>
            <li>Updated Study Materials</li>
            <li>Weekly Test, Crash Course</li>
            <li>Library Facility</li>
            <li>Test Series</li>
            <li>Doubt-clearing classes</li>
            <li>Peaceful, AC Classrooms</li>
            <li>Qualified & Sincere Teachers Team</li>
            <li>Special Attention on Weak Students</li>
            <li>Mental Boost up & Career Counseling Program</li>
            <li>Energy-Management, Routine-Management & Stress-Management</li>
        </ul>
    </div>
    <div class="footer">
        <div class="contact-card">
            <img src="{% static 'images/Akash.jpg' %}" alt="Action Image" style="width: 200px; height: 200px;">
            <h3>Akash Sahani</h3>
            <p>📞 9598936218</p>
        </div>
        <div class="contact-card">
            <h3>Alok Bharti</h3>
            <p>📞 6386619259</p>
        </div>
    </div>
    <div class="school-info">
        SHRI B.Y. CHILDREN SCHOOL, PuraniGanj, Bahadurganj, Ghazipur<br>
        B.Tech (VNS), D.El.Ed (DIET AZMH), 6 years Teaching Experience<br>
        More than 20 Alumni in PGI, DU, BHU, NIT, IITs
    </div>
</div>
{% endblock %}